@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
@import "./components/stylesheets/component.css";
:root {
  --background-color: #f3effd;
  --primary-color: #392f5a; 
  --text-color: rgb(80, 80, 80); 
  --box-shadow: rgba(0, 0, 0, 0.3);
}

[data-theme='dark'] {
  --background-color: #000;
  --primary-color: #BB86FC;
  --text-color: rgb(214, 214, 214);
  --box-shadow: rgba(255, 255, 255, 0.44); 
}


html {
  scroll-behavior: smooth;
}

body, .App {
  background-color: var(--background-color);
}

* {
  box-sizing: border-box;
  color: var(--text-color);
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  transition: 0.5s;
}
